<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top py-4 bg-primary fs-4 fw-lighter">
		<div class="container-fluid">
			<a class="navbar-brand fs-1 pt-1 ms-3 e-5 text-light" href="{{ path('index') }}">SYMFONY Blog</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item mx-5">
						<a class="nav-link" aria-current="page" href="{{ path('index') }}">Home</a>
					</li>
					<li class="nav-item me-5">
						<a class="nav-link" aria-current="page" href="{{ path('index_cheatsheet') }}">Cheatsheet</a>
					</li>
					{# <li class="nav-item">
											<a class="nav-link" href="#">Link</a>
										</li>
										<li class="nav-item">
											<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
										</li> #}
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</header>
